.login{
    display:flex;
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    /* border:1px solid red; */
}
.login--body{
    margin-top: -70px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;

}

.login--body img{
    object-fit: cover;
    width: 400px;
    height: 80px;
}

.login--form{
    margin-top: 20px;
}

.signup--text{
    font-size: 15px;
    font-weight:700;
}
.signup--register{
    cursor: pointer;
    color: #006CBD;
}
.signup--register:hover{
    color: #1976D2;
}

